<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{session.steam_name}}'s game</title>
    <script id="session-script" data-id="{{id}}" src="/dist/session.js" defer></script>
    <link href="/dist/session.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>{{session.steam_name}}'s game</h1>
<form id="player-selection">
    <h2>Player Selection</h2>
    <label for="color-select">Your color:</label>
    <select id="color-select" disabled>
        <option value="">None selected</option>
        <hr>
    </select>
</form>
<h2>Hand</h2>
<div id="hand"></div>
</body>
</html>